@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    color: #c70039;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #c70039; 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
}

::-webkit-scrollbar-track {
    background: #101010; 
    border-radius: 4px;
    width: 4px;
}

html {
    background: #101010;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    #loader img {
        width: 50%;
        height: auto;
    }

    body {
        font-size: 14px;
    }
}
